{% extends "layout.html" %}

{% block content %}

<head>
    <dir ="rtl"></dir>
    <meta charset="utf-8">
    <html lang="he">


</head>
<h3 style="text-align:center;"><strong style="color:blue"</strong>תיכונט ע"ש אלתרמן תל-אביב</h3>

<address>
    <p style="text-align:center;">
        שושנה פרסיץ 3 , ת"א
    </p>
    <p style="text-align:center;">
        טל: 03-6236500
    </p>
    <p style="text-align:center;">
        פקס: 03-6236525
    </p>
    <p style="text-align:center; direction:rtl;">
        מייל: ohadorgal@tichonet.com
    </p>

</address>


<p style="text-align:center;">למידע נוסף ניתן לבקר ב<a href="http://www.tichonet.com/BRPortal/br/P100.jsp">אתר</a> בית הספר</p>
<br />



{% endblock %}
