{% extends "layout.html" %}

{% block content %}

<div class="home-continer">
    <div class="title">
        <h1>{{home_paragraph}}</h1>
    </div>
    <div id="slideshow-example" data-component="slideshow" class="slideShow">
        <div role="list">
            {% for article in articles %}
            <div class="slide">
                <table>
                    <tbody>
                        <tr>
                            <td style="text-align:right">
                                <a href="/article/{{article.article_id}}"><h2 style="margin-top: -355px; margin-left: 250px">{{article.heading}}</h2></a>
                                <h3>{{article.caption}}</h3>
                            </td>
                            <td style="text-align:left"><img src="{{article.thumbnail}}" alt="" width="400" height="300"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            {% endfor%}
        </div>
    </div>
</div>

{% endblock %}
