{% extends "layout.html" %}

{% block content %}

<style>
    .column {
        float: left;
        width: 33.33%;
        padding: 5px;
    }

    /* Clearfix (clear floats) */
    .row::after {
        content: "";
        clear: both;
        display: table;
        display: flex;
        align-items: center;
    }
</style>

<div class="app" style="direction:rtl">
    <h1>עמוד כתב</h1> <br />
    <h3 class="text-muted">שלום, {{current_user.first_name}}</h3>
    <h2 class="text-muted">הנה הכתבות שכתבת:</h2>
    <h4><a href="{{ url_for('createArticle') }}">לכתיבת כתבה חדשה</a></h4>
</div>
<div>
    {% for article in user_articles %}
    <div class="row">
        <div class="column">

        </div>

        <div class="column">
            {% if article.heading %}
            <strong><h3 style="color:blue;"><a href="article/{{article.article_id}}" target="_blank">{{article.heading}}</a></h3></strong>
            {%endif%}

            {% if article.caption != "NULL" %}
            <h5>{{article.caption}}</h5>
            {%endif%}

            <div class="control-btn">
                <form action="/edit-article/{{article.article_id}}" method="get">
                    <button style="width:30px; height:30px; margin-left:5px;" type="submit"><i class="fas fa-edit"></i></button>
                </form>
                <form action="/deletearticle/{{article.article_id}}" method="post">
                    <button style="width:30px; height:30px;" type="submit"><i class="fas fa-times"></i></button>
                </form>
            </div>
            

        </div>
        <div class="column">
            <br />
            {%if article.thumbnail != "NULL" %}
            <img style="width:75%;max-height:30vh;" src="{{article.thumbnail}}" />
            {%endif%}
        </div>
    </div>
    {%endfor%}
</div>
{% endblock %}
