{% extends "layout.html" %}

{% block content %}
<style>
    .column {
        float: left;
        width: 33.33%;
        padding: 5px;
    }

    /* Clearfix (clear floats) */
    .row::after {
        content: "";
        clear: both;
        display: table;
        display: flex;
        align-items: center;
    }
</style>

<div class="app" style="direction:rtl">
    <h1>הפרופיל שלך</h1> <br />
    <h3 class="text-muted">שלום, {{current_user.first_name}}</h3>
    <h2 class="text-muted">הנה הכתבות שכתבת:</h2>
</div>
<div>
    {% for userArticle in user_articles %}
    <div class="row">
        <div class="column">

        </div>

        <div class="column">
            {% if userArticle.heading %}
            <strong><h3 style="color:blue;"><a href="article/{{userArticle.article_id}}">{{userArticle.heading}}</a></h3></strong>
            {%endif%}

            {% if userArticle.caption != "NULL" %}
            <h5>{{userArticle.caption}}</h5>
            {%endif%}

        </div>
        <div class="column">
            <br />
            {%if userArticle.thumbnail != "NULL" %}
            <img style="width:100%;height:100%;" src="{{userArticle.thumbnail}}" />
            {%endif%}
        </div>
    </div>
{%endfor%}
</div>
{% endblock %}
