{% extends "layout.html" %}

{% block content %}

<div class="app">
    <form method="POST" action="{{ url_for('redirection') }}">
        <div class="form-group">
            <label for="name">שם מלא</label>
            <input type="text" class="form-control" name="name" />
        </div>
        <div class="form-group">
            <label for="username">שם משתמש</label>
            <input type="text" class="form-control" name="username">
        </div>
        <div class="form-group">
            <label for="email">כתובת מייל</label>
            <input type="email" class="form-control" name="email">
        </div>
        <div class="form-group">
            <label for="password">סיסמה</label>
            <input type="password" class="form-control" name="password">
        </div>
        <button type="submit" class="btn btn-primary">הירשם</button><br />
        <small class="text-muted">יש לך כבר חשבון? <a href="{{ url_for('login')}}">לחץ כאן להתחברות</a></small>
    </form>
</div>

{% endblock %}
