{% extends "layout.html" %}

{% block content %}
<div class="devteam">
    <div class="gad">
        <h3>גד לידרור</h3>
        <a href="mailto:gadl@tichonet.com"><h4>gadl@tichonet.com</h4></a>
    </div>
    <div class="yarom">
        <h3>ירום בר-עקיבא</h3>
        <a href="mailto:yarom.barakiva@gmail.com"><h4>yarom.barakiva@gmail.com</h4></a>
    </div>
    <div class="eilon">
        <h3>אילון קליין</h3>
        <a href="mailto:eilon@tichonet.com"><h4>eilon@tichonet.com</h4></a>
    </div>
    <div class="ilay">
        <h3>עילי סגל</h3>
        <a href="mailto:ILAY.S.2005@gmail.com">
            <h4>ILAY.S.2005@gmail.com<h4>
        </a>
    </div>
</div>

{% endblock %}
